:root{
    --header-footer-color: #344e41;
    --accent-color: #588157;
    --background-color: #dad7cd;

}
*{
    margin: 0;
}

body{
    background-color: var(--background-color);
}

#content{
    max-width: 1024px;
    background-color: white;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--header-footer-color);
    color: white;
}
#heroImage{
    width: 100%;
}


#parkInfo{
    border: 3px solid var(--accent-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: var(--accent-color);
    opacity: 70%;
    margin-top: -140px;
    height: 131px;
}

#parkMenu{
    background-color: var(--accent-color);
    
}

#parkMenu ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-inline-start: 0px;
    justify-content: center;
}

/* #parkMenu li{
    padding: 1.5rem;
    justify-content: center;
} */

#parkMenu ul li svg{
    display: block;
    max-width: 50px;
    max-height: 50px;
}

footer{
    text-align: center;
    border: 3px solid var(--accent-color); 
    background-color: var(--header-footer-color);
    color: white;
    padding: 1rem;
}